body {
    background-color: white;
    color: blue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: blue;
    color: white;
    text-align: left;
    padding: 10px;
  }

  .content {
    display: flex;
  }

  .sidebar {
    background-color: #fff;
    color: blue;
    padding: 20px;
    width: 25%;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
  }

  .main-content {
    color: blue;
    padding: 20px;
    width: 75%;
    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
  }   

  footer {
    background-color: pink;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px;
  }